.youtube-head{
    display: flex;
    height: 60px;
    border-bottom: 1px solid black;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    column-width: 165px 1fr 210px;
}

.youtube-head-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamberger-logo{
    background-color: white;
    border: none;
    height: 50px;
    width: 55px;
    padding-left: 25px;
}

.youtube-logo{
    background-color: white;
    border: none;
    height: 50px;
    width: 100px;
}

.hamberger-logo:hover,
.youtube-logo:hover{
    cursor: pointer;
}

.youtube-head-middle{
    display:flex;
    width: 500px;
    align-items: center;
}

.search-bar{
    height: 40px;
    width: 70%;
    border: 1px solid rgb(198, 198, 198);
    padding-left: 10px;
    font-size: 20px;
    color: rgb(182, 182, 182);
}

.search-button{
    background-color: rgb(240, 240, 240);
    border: none;
    min-width: 76px;
    min-height: 44px;
    border: 1px solid rgb(198, 198, 198);
    margin-right: 10px;
    margin-left: 0;
}

.search-icon{
    width: 25px;
    height: 25px;
}

.voice-search-button{
    background-color: rgb(240, 240, 240);
    border: none;
    min-width: 44px;
    min-height: 44px;
    border-radius: 22px;
}

.search-button:hover{
    cursor: pointer;
}

.voice-search-button{
    cursor: pointer;
}

.youtube-head-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-button,
.notification-button,
.apps-button{
    background-color: white;
    border: none;
    width: 35px;
    height: 35px;
}

.upload-button:hover{
    cursor: pointer;
}

.apps-button:hover{
    cursor: pointer;
}

.notification-button:hover{
    cursor: pointer;
}

.profile-button{
    background-color: white;
    border: none;
    width: 35px;
    height: 35px;
    margin-right: 25px;
}

.profile-button:hover{
    cursor: pointer;
}

.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}