.red-box{
    width: 50px;
    height: 50px;
    display: block;
    background-color: red;
    margin-bottom: 100px;
}

.green-circle{
    width: 50px;
    height: 50px;
    display: block;
    background-color: green;
    border-radius: 25px;
    margin-bottom: 100px;
}

.service-div{
    width: 200px;
    height: 100px;
    padding-left: 10px;
    border: 1px solid black;
    margin-bottom: 100px;
}

.youtube-div{
    background-color: black;
    padding-top: 10px;
    padding-left: 20px;
    width: 500px;
    height: 150px;
    margin-bottom: 100px;
}

.youtube-title{
    color: white;
    font-style: bold;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.youtube-detail{
    color: gray;
    font-size: 23px;
    margin-top: 0px;
}

.tweet-div{
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
    width: 500px;
    height: 50px;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 40px;
    margin-bottom: 50px;
}

.cat-image{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}

.tweet-input{
    width: 350px;
    height: 30px;
    border: none;
    font-size: 20px;
}

.tweet-button{
    background-color: rgb(122, 193, 255);
    width: 70px;
    height: 35px;
    border: none;
    border-radius: 20px;
    color: white;
    font-style: bold;
    font-size: 17px;
}