.textbox-name{
    display: block;
    width: 150px;
    height: 20px;
    color: rgb(177, 175, 175);
    margin-bottom: 10px;
}

.textbox-email{
    display: block;
    width: 150px;
    height: 20px;
    color: rgb(177, 175, 175);
    margin-bottom: 50px;
}

.left-paragraph{
    display: inline-block;
    width: 200px;
    height: 60px;
    padding-right: 10px;
    vertical-align: middle;
}

.button-yes{
    display: inline-block;
}

.button-no{
    display: inline-block;
    margin-right: 500px;
    margin-bottom: 200px;
}

.google-logo{
    display: block;
    width: 300px;
    height: 100px;  
    object-fit: cover;
    object-position: center;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.google-textbox{
    display: block; 
    border-style: solid;
    border-color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0px 1px 15px rgba(0,0,0, 0.15);
}