.image-1{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.image-2{
    width: 150px;   
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.image-3{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 50px;
}