.first-problem{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.first-200px{
    width: 200px;
    background-color: lightblue;
}

.first-75px{
    width: 75px;
    background-color: lightpink;
}

.second-problem{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.second-item1{
    width: 75px;
    background-color: lightblue;
}

.second-item2{
    background-color: lightpink;
    flex: 1;
}

.second-item3{
    width: 50px;
    background-color: lightblue;
}

.third-problem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.fourth-problem{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: gray;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}